@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/images/pic1.jpg" class="img" alt="My image" />
</div>
<div>
    <img src="~/images/pic2.jpg" class="img" alt="My image"/>
    <img src="~/images/pic3.jpg" class="img" alt="My image" />
    <img src="~/images/TT003B_1_11zon.jpeg" class="img"/>
</div>
